<!--The content below is only a placeholder and can be replaced.-->
<br>
<div class="container">
  <h3>
    Real Time Twitter Trend Analysis <fa-icon [icon]="faChartPie"></fa-icon> 
  </h3>
    <input type="text" class="form-control" placeholder="Enter location" aria-label="Enter Location" aria-describedby="button-addon2" [(ngModel)]="location" />
      <button class="btn btn-primary btn-block" [disabled]="!hideGraph" type="button" id="button-addon2" (click)="getAnalytics()">Get Analytics <fa-icon [icon]="faSearch"></fa-icon> </button>
  <div class="" [hidden]="hideProgress">
        {{ progressIndicator }} <fa-icon [icon]="faSpinner" [pulse]="true"></fa-icon>
  </div>
  <div class="row" [hidden]="hideGraph">
    <div class="col-12">
        <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="single"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
    </div>
    <div class="col-12">
      <ngx-charts-pie-chart
        [view]="view"
        [scheme]="colorScheme1"
        [results]="single_gender"
        [legend]="showLegend"
        [explodeSlices]="explodeSlices"
        [labels]="showLabels"
        [doughnut]="doughnut"
        [gradient]="gradient"
        (select)="onSelect($event)">
      </ngx-charts-pie-chart>
    </div>
  </div>
</div>

